body {
  font-family: "montserrat", sanserif;
  margin: 0px;
  padding: 0px;
}
.container{
  width: 1200px;
  max-width: 100%;
  min-height: 400px;
  margin: auto;
  padding: 40px;
  
}
h1{
  
}
.form {
  background-color: wheat;
  text-align: center;
  padding:20px;
  border-radius:4px;
  width: 400px;
  margin: auto;
}
#form{
  margin-bottom: 20px;
}
input {
  border-radius: 5px;
  border: none;
  padding: 15px;
  width: 80%;
  margin: 5px 0px;
}

input[type=submit] {
  border-radius: 10px;
  width: 40%;
  margin: 30px;
  background-color: black;
  cursor: pointer;
  color: white;
}

.input-error {
  color: #dc143c;
  margin-left: 27%;
  margin-top: 8px;
}

#display-logo {
  padding: 15px;
  background-color: white;
  width: 1200px;
  max-width: 4%;
  min-height: 4px;
  margin: auto;  
}